In [ ]:
high_score1=0
player_1 = int(input('enter your score: '))
high_score = player_1
while True:
    player_2= int(input("enter your score: "))
    if player_2 >= high_score:
        print("You beat the high score")
        print(f'high score was {high_score} and new high score is {player_2}')
        high_score = player_2
        break
    else:
        print(f'You score {player_2} & high score is {high_score}')

In [ ]:
import math
print(math.sqrt(21))

In [ ]:
import numpy as np
print(np.sqrt(9))

In [2]:
import pandas as pd
import seaborn as sns
data = pd.read_csv('./sub-division_population_of_pakistan.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROVINCE                    528 non-null    object
 1   DIVISION                    528 non-null    object
 2   DISTRICT                    528 non-null    object
 3   SUB DIVISION                528 non-null    object
 4   AREA (sq.km)                528 non-null    float64
 5   ALL SEXES (RURAL)           528 non-null    int64
 6   MALE (RURAL)                528 non-null    int64
 7   FEMALE (RURAL)              528 non-null    int64
 8   TRANSGENDER (RURAL)         528 non-null    int64
 9   SEX RATIO (RURAL)           528 non-null    float64
 10  AVG HOUSEHOLD SIZE (RURAL)  528 non-null    float64
 11  POPULATION 1998 (RURAL)     528 non-null    int64
 12  ANNUAL GROWTH RATE (RURAL)  528 non-null    float64
 13  ALL SEXES (URBAN)           528 non-null    int64
 14  MALE (URBAN)                528 non-null    int64
 15  FEMALE (URBAN)              528 non-null    int64
 16  TRANSGENDER (URBAN)         528 non-null    int64
 17  SEX RATIO (URBAN)           528 non-null    float64
 18  AVG HOUSEHOLD SIZE (URBAN)  528 non-null    float64
 19  POPULATION 1998 (URBAN)     528 non-null    int64
 20  ANNUAL GROWTH RATE (URBAN)  528 non-null    float64
dtypes: float64(7), int64(10), object(4)
memory usage: 86.8+ KB

In [1]:
import numpy as np
marks = pd.Series([1,2,3,4,np.nan,5])
names = pd.Series(["Ayaz", "Fehmida","Orhan", "Hamdan","Unknown","Ayzal"])
columns= ["Name", "Marks"]
df = pd.DataFrame({columns[0]:names, columns[1]:marks},columns=columns)
df

NameError: name 'pd' is not defined

In [ ]:
df["Date"] = pd.date_range('20250201', periods=6)

In [ ]:
df.dropna(inplace=True)
df.describe()

In [ ]:
df.at(Name["Ayaz"], "Marks") = 10

In [ ]:
df.query('Name.str.startswith("O")',
engine="python")

In [ ]:
df.query('Marks > 2 ')